main{
    height: 500px;
    border: 2px solid green
}

.flex-container{
    display: flex;
    width:500px;
    border: 2px dashed purple;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
}

.flex-container > div{
    font-size: 30px;
    color: blue;
    padding: 30px;
    border: 1px solid red;
    margin: 20px;
    background-color: pink;
}
